#pol_bg {
    object-fit: contain;
    width: 100%;
    /* max-height: 20%; */
}

#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #d5eff9, #dedede);
    padding: 0 !important; 
    
}

#banner{
    background-image: linear-gradient(to right, #d5eff9, #dedede);
    color: #002060;
    padding-top: 0;
}

.promo-title{
    font-size: 60px; 
    font-weight: 600;
    margin-top: 100px;
    object-fit: contain;
    margin-top: 35%;
    
}

#info{
    /* color: #002060; */
    padding-top: 10px;
    padding-bottom: 25px;
}

#pai_txt{
    font-size: 60px; 
    font-weight: 600;
    /* margin-top: 100px; */
    object-fit: contain;
    margin-top: 45%;
    
}

#pai_bg {
    object-fit: contain;
    width: 100%;
    padding-top: 100px;
    /* max-height: 20%; */
}
table td{
    border: 1px solid gray;
}

th{
    border: 1px solid black;
}
h4{
    color: black;
    margin-right: 40%;
}
#alink{
    background-color: black;
    color: white;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.nav-link{
    
    margin-top: 5px;
    width: 100px;
}