.table-fixed-column-outter {
    position: relative;
    margin: 2rem auto;
    max-width: 80%;
    margin-top: 0px;
}

.table-fixed-column-inner {
    overflow-x: scroll;
    overflow-y: visible;
    /* width: 400px; */
    margin-left: 120px;
    /* .table {
        margin-bottom: 0.25rem;
    } */
}

.table.table-fixed-column {
    table-layout: fixed;
    width: 100%
}

.table td,
.table th {
    width: 150px;
    text-align: center;
}

.table th:first-child,
.table tr td:first-child {
    position: absolute;
    left: 0;
    width: 120px;
}